html {
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    display: grid;
    color: #FFFFFF;
}

header {
  background-color: #ffffff;
  grid-column: 1 / 4;
}

header h2, .food-icons {
  color: #ff9776;
  text-align: center;
}

header h2 {
  font-family: 'Noto Serif KR', serif;
  font-size: 2em;
  font-weight: 500;
}

.food-icons {
  font-size: 5em;
  &__i {
    padding: 0.25em 0.25em 0 0.25em;
  }
}

.fa-utensils {
  color: #FBD786;
}

.nav {
  background-color: #ff5858;
  grid-column: 1 / 4;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
  /* Implement flexbox for navigation menu */
  &__ul {
    padding: 0;
    width: 100%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    &__list {
      padding: 1em;
      list-style: none;
    }
  }
}

.nav__ul a {
  color: #ffffff;
}

/* Implement grid for sidebar layout */
.sidebar {
  background-color: #ffedff;
  align-self: stretch;
  grid-row: 3 / 5;
  padding: 1em;
  width: 100%;
  &__ul {
    display: block;
    padding: 1em 4em;
    &__li {
      list-style: none;
      padding: 1em 0;
    }
  }
}

.sidebar a {
  color: #787878;
}

/* Implement grid for main content layout */
.main-content {
  background-color: #ffcbcb;
  color: #787878;
  align-self: stretch;
  grid-column: 2 / 4;
  grid-row: 3 / 5;
  padding: 4em 1em;
}

footer {
  background-color: #ffffff;
  color: #ff9776;
  grid-column: 1 / 4;
  text-align: center;
}

.social {
  font-size: 4em;
  padding: 0;
  &__ul {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    &__li {
      list-style: none;
      padding: 0 0.5em;
    }
  }
}

.social a {
  color: #ff9776;
}
