// Colors
$charcoal: #707070;
$light-blue: #F2F4F7;
$light-grey: #F5F5F5;
$white: #FFFFFF;
$faded-blue: #5D8AA8;
$border: #D8D8D8;

// Fonts
$font-fam: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Padding
$padding: 1em;

// Width
$width: 100%;
